* {
    font-family: "system-ui", sans-serif;
    padding: 0;
    margin: 0;
}

code {
    font-family: monospace;
}

html, body {
  scroll-behavior: smooth;
  background-color: #9fd2fb;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9fd2fb;
}

nav * {
    padding: 5px;
}

button, .button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #008afb;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    border: none;
}

button:hover, .button:hover {
    text-decoration: none;
    color: white;
    background-color: #005ca8;
}

#code {
    width: 50dvw;
    min-width: 50dvw;
    max-width: 50dvw;
    font-family: monospace;
    color: white;
    background-color: #00002d;
    font-size: large;
    padding-left: 10px;
    border-radius: 0;
    border: none;
}

#renderer {
    width: 50dvw;
    background-color: white;
    padding: 0;
    border: none;
}

.edit {
    display: flex;
    border: none;
    flex-grow: 1;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.message {
    display: none;
    flex: 1;
    z-index: 1000;
    position: fixed;
    background-color: #9fd2fb;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.message * {
    padding: 5px;
}

.errorpage {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #d1e9fd;
    width: 100dvw;
}

code {
    background-color: #d7d7d7;
    border-radius: 5px;
}

.nav-url {
    text-decoration: none;
    color: black;
}

.nav-url:hover {
    color: #2a2a9c;
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 15px;
    border-left: 1px solid rgb(100, 100, 100);
}

::-webkit-scrollbar-thumb {
    background-color: #5789ff;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5c9bff;
}